{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }],
    "flow"
  ],
  "plugins": [
    "transform-flow-comments",
    "transform-decorators-legacy",
    "transform-class-properties"

  ]
}